#header {
  position: relative; }
  #header .card {
    width: 80%;
    max-width: 500px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 15%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  #header .banner {
    width: 100%;
    height: 450px; }
    #header .banner img {
      width: 100%;
      height: 100%;
      -o-object-position: center;
      object-position: center;
      -o-object-fit: cover;
      object-fit: cover; }
