#work .page_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.works_aside {
  width: 350px; }

#work .works_list {
  width: calc(100% - 350px); }
